{% extends "layout_full.html" %}
{% block mainclass %}main-flex{% endblock %}
{% block categories %}
  <ul>
    {% for category in categories %}
      <li>
        <a href="{{ url_for('show_category_items', category_id=category.id) }}">{{ category.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
{% block items %}
  {% for item in items %}
    <figure class="item">
      <a href="{{ url_for('show_items', selected=item.id) }}">
        <img src="{{ item.image_url }}" class="item-image">
      </a>
      <figcaption class="item-title">{{ item.title }}</figcaption>
    </figure>
  {% endfor %}
  {% if session.get('logged_in') %}
    <figure class="item">
      <a href="{{ url_for('new_item') }}">
        <img src="{{ url_for('static', filename='new_item.png') }}" class="item-image">
      </a>
      <figcaption class="item-title">Add Item</figcaption>
    </figure>
  {% endif %}
{% endblock %}
{% block details %}
  {% if item %}
    <article class="detail">
      <figure>
        <img src="{{ item.image_url }}" class="detail-image">
      </figure>
      <h2 class="detail-title">{{ item.title }}</h2>
      {% if item.purchase_price %}
        <p class="detail-purchase-price">Purchase price: ${{ item.purchase_price }}</p>
      {% endif %}
      {% if item.note %}
        <p class="detail-note">{{ item.note }}</p>
      {% endif %}
      {% if session.get('logged_in') %}
        <aside class="detail-actions">
          <form action="{{ url_for('edit_item', item_id=item.id) }}" method="GET" class="form-inline">
            <button type="submit" class="button">Edit</button>
          </form>
          <form action="{{ url_for('destroy_item', item_id=item.id) }}" method="POST" class="form-inline">
            <button type="submit" class="button">Delete</button>
          </form>
        </aside>
      {% endif %}
    </article>
  {% endif %}
{% endblock %}
