{% extends "show_items.html" %}
{% block details %}
  <form action="{{ url_for('update_item', item_id=item.id) }}" method="POST" class="form-item">
    <div class="field">
      <label for="title">Title</label>
      <input type="text" name="title" class="input" value="{{ item.title }}">
    </div>
    <div class="field">
      <label for="category_id">Category</label>
      <select name="category_id" class="input">
        {% for category in categories %}
          {% if category.id == item.category_id %}
            <option value="{{ category.id }}" selected>{{ category.name }}</option>
          {% else %}
            <option value="{{ category.id }}">{{ category.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="field">
      <label for="purchase_price">Purchase Price</label>
      <input type="number" step="0.01" name="purchase_price" class="input" value="{{ item.purchase_price }}">
    </div>
    <div class="field">
      <label for="image_url">Image URL</label>
      <input type="text" name="image_url" class="input" value="{{ item.image_url }}">
    </div>
    <div class="field">
      <label for="note">Note</label>
      <textarea name="note" rows="5" class="input">{{ item.note }}</textarea>
    </div>
    <div class="field">
      <button type="submit" class="button">Submit</button>
      <a href="/" class="button">Cancel</a>
    </div>
  </form>
{% endblock %}
