{% extends "layout_full.html" %}
{% block mainclass %}main-flex{% endblock %}
{% block categories %}
  <ul>
    {% for category in categories %}
    <li>
      <a href="#">{{ category.name }}</a>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
{% block items %}
  {% for item in items %}
  <figure class="item">
    <a href="{{ url_for('show_items', selected=item.id) }}">
      <img src="{{ item.image_url }}" class="item-image">
    </a>
    <figcaption class="item-title">{{ item.title }}</figcaption>
  </figure>
  {% endfor %}
{% endblock %}
{% block details %}
  <article class="detail">
    <figure>
      <img src="{{ item.image_url }}" class="detail-image">
    </figure>
    <h2 class="detail-title">{{ item.title }}</h2>
    <p class="detail-purchase-price">Purchase price: ${{ item.purchase_price }}</p>
    <p class="detail-note">{{ item.note }}</p>
  </article>
{% endblock %}
