{% extends "layout_full.html" %}
{% block mainclass %}main-flex{% endblock %}
{% block categories %}
  <ul>
    {% for category in categories %}
      <li>
        <a href="{{ url_for('show_category_items', category_id=category.id) }}">{{ category.name }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
{% block items %}
  {% for item in items %}
    <figure class="item">
      <a href="{{ url_for('show_items', select=item.id) }}">
        <img src="{{ item.image_url }}" class="item-image">
      </a>
      <figcaption class="item-title">{{ item.title }}</figcaption>
    </figure>
  {% endfor %}
  {% if session.get('logged_in') %}
    <figure class="item">
      <a href="{{ url_for('new_item') }}">
        <img src="{{ url_for('static', filename='new_item.png') }}" class="item-image">
      </a>
      <figcaption class="item-title">Add Item</figcaption>
    </figure>
  {% endif %}
{% endblock %}
{% block details %}
  {% for detail in details %}
    <article class="detail">
      <figure>
        <img src="{{ detail.image_url }}" class="detail-image">
      </figure>
      <h2 class="detail-title">{{ detail.title }}</h2>
      {% if detail.purchase_price %}
        <p class="detail-purchase-price">Purchase price: ${{ detail.purchase_price }}</p>
      {% endif %}
      {% if detail.note %}
        <p class="detail-note">{{ detail.note }}</p>
      {% endif %}
    </article>
  {% endfor %}
{% endblock %}
